/*Import Font from Google Fonts*/
@import url(https://fonts.googleapis.com/css?family=Poppins);

/*insert Default font for the Page as well background Color for the Mainbody page*/

body {
  font-family: "Poppins";
  Margin: 0;
  background-color: #000000;
  color: #ffffff;
}

/*Make the Page full witdh*/
body{
  Margin: 0;
}

/* ---------------------------------------------------------------------------------------------------------*/

/*Footer Box Configuration*/
footer{
  font-family: "Poppins";
  height: 60px;
  padding: 0;
  background-color: #000000;
}

/*Footer Box Text Configuration*/
footer p{
  padding-top: 10px;
  margin: 25px;
  text-align: center;
  color: #ffffff;
}

footer p strong{
  color: #86BC40;
}

/* ---------------------------------------------------------------------------------------------------------*/

.blankspace-25px
{
  padding: 25px;
  background-color: #000000;
  Margin:0 !important;
}

.blankspace-35px-homebox
{
  padding: 35px;
  Margin:0 !important;
}

.blankspace-15px
{
  padding: 15px;
  background-color: #000000;
  Margin:0 !important;
}


/* ---------------------------------------------------------------------------------------------------------*/
/*Home page Box Configuration*/

#homebox-row
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /*Allign any screen*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#homelink
{
 text-decoration: none;
}

#homepage-box p
{
    font-size: 24px;
}

#homepage-box
{
  width: 300px;
  height: 375px;
  padding-top: 25px;
  background-color: #262626;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

#homepage-box:hover
{
  width: 300px;
  height: 375px;
  padding-top: 25px;
  background-color: #262626;
  color: #86BC40;
  text-align: center;
}

#homepage-box-hide
{
display: none;
}

/*Style for all Icons*/
.fas
{
  margin: 20px;
  font-size: 64px;
}